<div class="six columns">

<p>
  <b>Плательщик:</b>
  <%= item.payment.department %>
</p>

<p>
  <b>Получатель:</b>
  <%= item.payment.recipient.name %>
</p>

<p>
  <b>Дата оплаты:</b>
  <%= item.date %>
</p>

<p>
  <b>Товар:</b>
  <%= item.payment.product %>
</p>
  <p>
    <b>Cумма:</b>
    <%= item.payment.sum %>
  </p>
  <p>
  <b>Платеж:</b>
    <% if item.cach.to_s == 'true' %>
        Безнал
	<% else %>
        Наличные
	<% end %>
  </p>
<p>
  <b>Состояние:</b>
  <% if item.status.to_s == 'true' %>
      Оплачено
  <% else %>
      Неоплачено
  <% end %>
</p>


<%= link_to 'Edit', edit_payment_path(item.payment) %> |
<%= link_to 'Back', payments_path %> |
<%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>