<div class="row">
  <div class="twelve columns">
    <h2 id="month">
      <%= link_to "<", date:@date.prev_month %>
      <%= @date.strftime("%B %Y") %>

      <%= link_to ">", date:@date.next_month %>
    </h2>
  </div>
  <div id="payments" class="twelve columns">


    <%= calendar @date do |date| %>
        <%= date.day %>
        <% if @items_by_date[date] %>
            <ul>
              <% @items_by_date[date].each do |item| %>
                  <%= content_tag :li do %>
                    <%= content_tag(:span, :class=>'has-tip tip-top', "data-width"=>'140', "title"=>"#{item.payment.recipient.name} #{item.payment.sum}") do %>
                    <%= link_to "#{item.payment.recipient.name} #{item.payment.sum}", item, "data-reveal-id" => "myModal"+item.payment.id.to_s, :class =>"reveral" %>
                    <% end %>
                  <% end %>
	              <%= javascript_tag do %>
		          window.payment_id = <%= item.payment.id %>
                  <% end %>
                  <div  class="reveal-modal medium"  id="myModal<%= item.payment.id %>" >
                    <%=render :partial => "one", :locals => {:item=>item} %>
                  </div>

            <% end %>

            </ul>

        <% end %>
    <% end %>
  </div>
  <div class="six columns" id="payments">

    <% @date_prev = @date.prev_month %>
    <h2><%= @date_prev.strftime("%B %Y") %></h2>
    <%= calendar @date_prev do |date| %>
        <%= date.day %>
        <% if @items_by_date[date] %>
            <ul>
              <% @items_by_date[date].each do |item| %>
                  <%= content_tag :li do %>
                      <%= content_tag(:span, :class=>'has-tip tip-top', "data-width"=>'140', "title"=>"#{item.payment.recipient.name} #{item.payment.sum}") do %>
                          <%= link_to "#{item.payment.recipient.name} #{item.payment.sum}", item, "data-reveal-id" => "myModal"+item.payment.id.to_s, :class =>"reveral" %>
                      <% end %>
                  <% end %>
                  <%= javascript_tag do %>
                      window.payment_id = <%= item.payment.id %>
                  <% end %>
                  <div  class="reveal-modal medium"  id="myModal<%= item.payment.id %>" >
                    <%=render :partial => "one", :locals => {:item=>item} %>
                  </div>

              <% end %>

            </ul>

        <% end %>
    <% end %>
  </div>
  <div class="six columns" id="payments">
    <% @date_next = @date.next_month %>
    <h2><%= @date_next.strftime("%B %Y") %></h2>
    <%= calendar @date_next do |date| %>
        <%= date.day %>
        <% if @items_by_date[date] %>
            <ul>
              <% @items_by_date[date].each do |item| %>
                  <%= content_tag :li do %>
                      <%= content_tag(:span, :class=>'has-tip tip-top', "data-width"=>'140', "title"=>"#{item.payment.recipient.name} #{item.payment.sum}") do %>
                          <%= link_to "#{item.payment.recipient.name} #{item.payment.sum}", item, "data-reveal-id" => "myModal"+item.payment.id.to_s, :class =>"reveral" %>
                      <% end %>
                  <% end %>
                  <%= javascript_tag do %>
                      window.payment_id = <%= item.payment.id %>
                  <% end %>
                  <div  class="reveal-modal medium"  id="myModal<%= item.payment.id %>" >
                    <%=render :partial => "one", :locals => {:item=>item} %>
                  </div>

              <% end %>

            </ul>

        <% end %>
    <% end %>
  </div>

 </div>