

<script type="text/javascript">

	function getUrlVars()
	{

		var vars = [], hash;
		var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');

		for(var i = 0; i < hashes.length; i++)

		{
			hash = hashes[i].split('=');
			vars.push(hash[0]);
			vars[hash[0]] = hash[1];
		}

		return vars;
	}

	$(window).load(function(){
		var query = getUrlVars()["query"];
    var dep = getUrlVars()["dep"];
    var url = '';
    var req = '';

    if (!query){
      $(':radio[name="nal"][data="3"]').attr('checked', 'checked');
    }else{
      $(':radio[name="nal"][data="'+query+'"]').attr('checked', 'checked');
      url = 'query='+query;
    }

    if (!dep){
      $(':radio[name="dep"][data="all"]').attr('checked', 'checked');
    }else{
      $(':radio[name="dep"][data="'+dep+'"]').attr('checked', 'checked');
      req = 'dep='+dep
    }

		$('.query').click(function(){

			var data = $(this).attr('data');

			//if (data != 3){
        url = 'query='+data;
      //}

      document.location ='payments?'+url+'&'+req;
		});

    $(" .dep").click(function() {
      var chek = $(this).attr('data');


      if(chek != 'all'){
          req = 'dep='+chek
      }else{
        req = ''
      }
      document.location ='payments?'+url+'&'+req;
    });


	});
</script>

<div class="row">
  <div class="four columns">
    <fieldset>
      <legend>Переключатель даты</legend>
      <h2 id="month">
        <%= link_to "<", date:@date.prev_month %>
        <%= @date.strftime("%B %Y") %>

        <%= link_to ">", date:@date.next_month %>
      </h2>
    </fieldset>

  </div>
  <div class=" eight columns">
    <fieldset>
      <legend>Фильтр</legend>
      <div class="row">
        <div class="four columns">
          <ul class="square">
            <li>
              Общий
              <input type="radio" checked="true" name="nal" class="query" data="3">
            </li>
            <li>
              Безнал
              <input type="radio" name="nal" class="query q1" data="1">
            </li>
            <li>
              Нал
              <input type="radio" name="nal" class="query q2" data="0">
            </li>

          </ul>
        </div>
        <div class="four columns">
          <ul class="square">
            <li>
              <label for="radio4">
                <input name="dep" type="radio" id="radio4" class="dep" data='all'>
               ALL
              </label>
            </li>
            <li>
              <label for="radio5">
                <input name="dep" type="radio" id="radio5" class="dep" data='icn'>
                ICN
              </label>
            </li>
            <li>
              <label for="radio6">
                <input name="dep" type="radio" id="radio6" class="dep" data='sky'>
                SKY
              </label>
            </li>

          </ul>
        </div>
        <div class="four columns"></div>
      </div>
    </fieldset>
  </div>


  <div id="payments" class="twelve columns">


    <%= calendar @date do |date| %>
        <%= date.day %>
        <% if @items_by_date[date] %>
            <ul>
              <% @items_by_date[date].each do |item| %>
                  <%= content_tag :li do %>
                    <%= content_tag(:span, :class=>' has-tip tip-top '  , "data-width"=>'140', "title"=>"#{item.payment.recipient.name} #{item.payment.sum}") do %>
                    <%= link_to "#{item.payment.payer.name} #{item.payment.recipient.name} #{item.payment.sum}", item, :style=>'color:' "#{item.status.to_s=='true'? 'green':'red' }", "data-reveal-id" => "myModal"+item.payment.id.to_s, :class =>"reveral" %>
                    <% end %>
                  <% end %>
	              <%= javascript_tag do %>
		          window.payment_id = <%= item.payment.id %>
                  <% end %>
                  <div  class="reveal-modal medium"  id="myModal<%= item.payment.id %>" >
                    <%=render :partial => "one", :locals => {:item=>item} %>
                  </div>

            <% end %>

            </ul>

        <% end %>
    <% end %>
  </div>
  <div class="six columns" id="payments">

    <% @date_prev = @date.prev_month %>
    <h2><%= @date_prev.strftime("%B %Y") %></h2>
    <%= calendar @date_prev do |date| %>
        <%= date.day %>
        <% if @items_by_date[date] %>
            <ul>
              <% @items_by_date[date].each do |item| %>
                  <%= content_tag :li do %>
                      <%= content_tag(:span, :class=>'has-tip tip-top', "data-width"=>'140', "title"=>"#{item.payment.recipient.name} #{item.payment.sum}") do %>
                          <%= link_to "#{item.payment.payer.name} #{item.payment.recipient.name} #{item.payment.sum}", item, :style=>'color:' "#{item.status.to_s=='true'? 'green':'red' }", "data-reveal-id" => "myModal"+item.payment.id.to_s, :class =>"reveral" %>
                      <% end %>
                  <% end %>
                  <%= javascript_tag do %>
                      window.payment_id = <%= item.payment.id %>
                  <% end %>
                  <div  class="reveal-modal medium"  id="myModal<%= item.payment.id %>" >
                    <%=render :partial => "one", :locals => {:item=>item} %>
                  </div>

              <% end %>

            </ul>

        <% end %>
    <% end %>
  </div>
  <div class="six columns" id="payments">
    <% @date_next = @date.next_month %>
    <h2><%= @date_next.strftime("%B %Y") %></h2>
    <%= calendar @date_next do |date| %>
        <%= date.day %>
        <% if @items_by_date[date] %>
            <ul>
              <% @items_by_date[date].each do |item| %>
                  <%= content_tag :li do %>
                      <%= content_tag(:span, :class=>'has-tip tip-top', "data-width"=>'140', "title"=>"#{item.payment.recipient.name} #{item.payment.sum}") do %>
                          <%= link_to "#{item.payment.payer.name} #{item.payment.recipient.name} #{item.payment.sum}", item, :style=>'color:' "#{item.status.to_s=='true'? 'green':'red' }", "data-reveal-id" => "myModal"+item.payment.id.to_s, :class =>"reveral" %>
                      <% end %>
                  <% end %>
                  <%= javascript_tag do %>
                      window.payment_id = <%= item.payment.id %>
                  <% end %>
                  <div  class="reveal-modal medium"  id="myModal<%= item.payment.id %>" >
                    <%=render :partial => "one", :locals => {:item=>item} %>
                  </div>

              <% end %>

            </ul>

        <% end %>
    <% end %>
  </div>

 </div>