<script type="text/javascript">

	function getUrlVars()
	{

		var vars = [], hash;
		var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');

		for(var i = 0; i < hashes.length; i++)

		{
			hash = hashes[i].split('=');
			vars.push(hash[0]);
			vars[hash[0]] = hash[1];
		}

		return vars;
	}

	$(window).load(function(){
		var query = getUrlVars()["query"];
		if (!query)
			$(':radio[name="nal"][data="3"]').attr('checked', 'checked');
		else
			$(':radio[name="nal"][data="'+query+'"]').attr('checked', 'checked');

		$('.query').click(function(){
			var data = $(this).attr('data');
			if (data == 3)
				document.location = 'payments';
			else
				document.location = 'payments?query='+data;
		});
	});
</script>

<div class="row">
  <div class="four columns">
    <fieldset>
      <legend>Переключатель даты</legend>
      <h2 id="month">
        <%= link_to "<", date:@date.prev_month %>
        <%= @date.strftime("%B %Y") %>

        <%= link_to ">", date:@date.next_month %>
      </h2>
    </fieldset>

  </div>
  <div class=" eight columns">
    <fieldset>
      <legend>Отображение</legend>
      Общий
      <input type="radio" checked="true" name="nal" class="query" data="3">
      Безнал
      <input type="radio" name="nal" class="query q1" data="1">
      Нал
      <input type="radio" name="nal" class="query q2" data="0">
    </fieldset>

  </div>


  <div id="payments" class="twelve columns">


    <%= calendar @date do |date| %>
        <%= date.day %>
        <% if @items_by_date[date] %>
            <ul>
              <% @items_by_date[date].each do |item| %>
                  <%= content_tag :li do %>
                    <%= content_tag(:span, :class=>'has-tip tip-top', "data-width"=>'140', "title"=>"#{item.payment.recipient.name} #{item.payment.sum}") do %>
                    <%= link_to "#{item.payment.recipient.name} #{item.payment.sum}", item, "data-reveal-id" => "myModal"+item.payment.id.to_s, :class =>"reveral" %>
                    <% end %>
                  <% end %>
	              <%= javascript_tag do %>
		          window.payment_id = <%= item.payment.id %>
                  <% end %>
                  <div  class="reveal-modal medium"  id="myModal<%= item.payment.id %>" >
                    <%=render :partial => "one", :locals => {:item=>item} %>
                  </div>

            <% end %>

            </ul>

        <% end %>
    <% end %>
  </div>
  <div class="six columns" id="payments">

    <% @date_prev = @date.prev_month %>
    <h2><%= @date_prev.strftime("%B %Y") %></h2>
    <%= calendar @date_prev do |date| %>
        <%= date.day %>
        <% if @items_by_date[date] %>
            <ul>
              <% @items_by_date[date].each do |item| %>
                  <%= content_tag :li do %>
                      <%= content_tag(:span, :class=>'has-tip tip-top', "data-width"=>'140', "title"=>"#{item.payment.recipient.name} #{item.payment.sum}") do %>
                          <%= link_to "#{item.payment.recipient.name} #{item.payment.sum}", item, "data-reveal-id" => "myModal"+item.payment.id.to_s, :class =>"reveral" %>
                      <% end %>
                  <% end %>
                  <%= javascript_tag do %>
                      window.payment_id = <%= item.payment.id %>
                  <% end %>
                  <div  class="reveal-modal medium"  id="myModal<%= item.payment.id %>" >
                    <%=render :partial => "one", :locals => {:item=>item} %>
                  </div>

              <% end %>

            </ul>

        <% end %>
    <% end %>
  </div>
  <div class="six columns" id="payments">
    <% @date_next = @date.next_month %>
    <h2><%= @date_next.strftime("%B %Y") %></h2>
    <%= calendar @date_next do |date| %>
        <%= date.day %>
        <% if @items_by_date[date] %>
            <ul>
              <% @items_by_date[date].each do |item| %>
                  <%= content_tag :li do %>
                      <%= content_tag(:span, :class=>'has-tip tip-top', "data-width"=>'140', "title"=>"#{item.payment.recipient.name} #{item.payment.sum}") do %>
                          <%= link_to "#{item.payment.recipient.name} #{item.payment.sum}", item, "data-reveal-id" => "myModal"+item.payment.id.to_s, :class =>"reveral" %>
                      <% end %>
                  <% end %>
                  <%= javascript_tag do %>
                      window.payment_id = <%= item.payment.id %>
                  <% end %>
                  <div  class="reveal-modal medium"  id="myModal<%= item.payment.id %>" >
                    <%=render :partial => "one", :locals => {:item=>item} %>
                  </div>

              <% end %>

            </ul>

        <% end %>
    <% end %>
  </div>

 </div>