<div  class="ten columns">
<p id="notice"><%= notice %></p>

<p>
  <b>Плательщик:</b>
  <%= @payment.payer.name %>
</p>

<p>
  <b>Recipient:</b>
  <%= @payment.recipient.name %>
</p>


<p>
  <b>Периодичность:</b>
  <%= @payment.period %>
</p>

<p>
  <b>Product:</b>
  <%= @payment.product %>
</p>

  <p>
    <b>Payment date:</b>
  <ol class="items">
    <% @payment.items.each do |item| %>
        <li class="label <%= payment_class(item) %>"><%= item.date %> <%= item.status %></li>
    <% end %>
  </ol>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
</div>